.wrapper {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.title {
  height: 40px;
  line-height: 40px;
  font-size: 18px;
  border-bottom: 1px solid lightgray;
  padding: 0 20px;
}

.list {
  flex: 1;
  overflow-y: auto;
}
